header h1 {
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
  margin: 30px 0;
}

body {
  font-family: "Poppins";
  background-color: black;
  color: lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.londoneye {
  max-width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: auto auto;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: lightgray;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
}

.img-responsive {
  max-height: 175px;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/london\ -\ hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  text-align: center;
  padding: 200px 0;
  margin: 0;
}

header h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5%;
  color: black;
  padding: 16px 32px;
}

footer {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.9;
  margin-right: 20px;
}

footer ul {
  margin: 0;
  color: black;
  font-size: 12px;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1200px;
}

main {
  background-color: black;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
}

.card {
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  height: 175px;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}
.card-header {
  border-radius: 5%;
}

.card-footer {
  padding: 0 30px 30px;
}
.card img {
  height: 270px;
  filter: opacity(80%);
}

.btn {
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: lightgrey;
  text-decoration: none;
  transform: uppercase;
  border-radius: 5px;
}
footer a {
  text-decoration: none;
  color: lightgray;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 14px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section p {
    font-size: 12px;
  }
  section img {
    width: 400px;
  }
  section ul {
    font-size: 12px;
  }
  .btn {
    font-size: 10px;
  }

  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}
